/* file css */

body {
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Roboto", Arial, sans-serif;
}

main {
  background-color: rgba(233, 233, 233, 0.9);
  display: flex;
  gap: 32px;
  padding: 32px;
}

p {
  text-align: justify;
}

.main-header {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ececec;
  text-align: center;
  font-family: "helvetica", Courier, monospace;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

.button-hitung {
  align-items: center;
  appearance: none;
  background-color: #3eb2fd;
  background-image: linear-gradient(1deg, #4f58fd, #149bf3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button:active,
.button:focus {
  outline: none;
}

.button:hover {
  background-position: -20px -20px;
}

.button-hitung:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em;
}

.button-reset {
  align-items: center;
  appearance: none;
  background-color: #818080;
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #feffff;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-link {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-link:hover,
.button-link:focus {
  background-color: #07c;
}

.button-link:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-link:active {
  background-color: #0064bd;
  box-shadow: none;
}

form {
  border-radius: 10px;
  background-color: rgb(252, 251, 250, 0.3);
  padding: 32px;
}

form .jenis-kelamin {
  margin-bottom: 5px;
}

.jkl-group {
  padding-bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.input-box {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

.result-section,
.right-article {
  border-radius: 10px;
  padding: 16px;
  background-color: rgba(252, 251, 250, 0.8);
  text-align: center;
}

#result-bmi {
  font-size: xxx-large;
  font-family: math;
}

#result-description {
  margin-top: 15px;
  text-align: justify;
}

footer {
  padding: 10px;
  border-top: 1px solid #ececec;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  text-align: center;
}

img {
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}
